{% extends 'leads/base.html' %}

{% load tailwind_filters %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Login {% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center md:p-16 w-full min-h-96 ">


    <div class="flex flex-col items-center justify-center max-h-full dark w-full">
        <div class="w-full max-w-md rounded-lg p-6 shadow-[inset_-12px_-8px_40px_#46464620]">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <div class=" text-center">
                    <button class="text-xl font-bold" type="submit">Login</button>
                </div>
            </form>


            <div>
                <a href="{% url 'reset-password' %}">Forgot Password?</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}