{% extends 'leads/base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Reset_Password_confirm {% endblock %}

{% block content %}




<div class="flex items-center justify-center dark shadow-[inset_-12px_-8px_40px_#46464620] rounded-xl">
    <div class="w-full p-7 max-w-md rounded-lg">
        <h1>Enter your new password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="text-xl font-bold " type="submit">Confirm new password</button>
        </form>
    </div>

</div>

{% endblock %}