{% extends 'leads/base.html' %}

{% load tailwind_filters %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Reset_Password {% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center p-16 bg-green-500 w-full max-h-full">


    <div class="flex flex-col items-center justify-center max-h-full dark w-full">
        <div class="w-full max-w-md bg-formColor rounded-lg p-6 shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px]">
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class="text-xl font-bold text-white" type="submit">Reset</button>

            </form>

            <div>
                <a href="{% url 'login' %}">Remember the password?</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}