{% extends 'leads/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Reset_Password_confirm {% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center p-16 bg-green-500 w-full max-h-full">


    <div class="flex gap-4 justify-center items-center">
        <h1> Password resett complete</h1>

        <p>You have successfully reset your passowrd. Click <a href="{% url 'login' %}">here</a> to login </p>

    </div>
</div>
{% endblock %}