{% extends 'leads/base.html' %}

{% load tailwind_filters %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Sign Up {% endblock %}

{% block content %}




<div class="flex items-center justify-center dark shadow-[inset_-12px_-8px_40px_#46464620] rounded-xl ">
    <div class="w-full p-7 max-w-md rounded-lg">
        <form id="signup-form" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="flex justify-center items-center">

                <button class="text-xl font-bold" type="submit">Sign Up</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}