{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth focus:scroll-auto ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    {% block css %}

    {% endblock %}


    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">



    <title>{% block title %} {% endblock %} | CRM </title>
</head>
<body class="bg-DARK_THEME-PRIMARY font-body dark:bg-DARK_THEME-SECONDARY dark:text-LIGHT_MODE">
    <section
        class="max-w-6xl mx-auto border-gray-500 border-r border-l border-opacity-50 min-h-screen bg-animated-bg shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] ">
        {% block header %}
        {% include 'navbar.html' %}
        {% endblock %}


        <section class=" max-w-6xl mx-auto pt-20 flex justify-center items-center pb-12 min-h-[720px]  ">

            {% block content %}

            {% endblock %}

        </section>

        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </section>

    {% block js %}

    {% endblock %}

    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>