{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    {% block css %}

    {% endblock %}


    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">



    <title>{% block title %} {% endblock %} | CRM </title>
</head>
<body class="bg-customBlue flex flex-col h-full w-full">
    {% include 'navbar.html' %}

    <hr class="bg-green-500" style="height: 5px; border-color: white;">


    <section class="w-full flex-1 mx-auto px-4 bg-red-600">
        <div class="shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] min-h-full flex justify-center items-center">
            {% block content %}

            {% endblock %}
        </div>
    </section>

    {{ text}}

    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>