<!-- //////// -->
{% if lead.category.name == "Unconverted" %}
<!-- //////// -->



<a href="{% url 'leads:category_list' %}"> <span
        class="bg-blue-600 p-1 px-2 rounded-md text-white font-bold">{{lead.category.name }}</span></a>



<!-- //////// -->
{% elif lead.category.name == "Converted" %}
<!-- //////// -->

<a href="{% url 'leads:category_list' %}"> <span
        class="bg-green-600 p-1 px-2 rounded-md text-white font-bold">{{lead.category.name }}</span></a>

<!-- //////// -->
{% elif lead.category.name == "Contacted" %}
<!-- //////// -->

<a href="{% url 'leads:category_list' %}"> <span
        class="bg-purple-600 p-1 px-2 rounded-md text-white font-bold">{{lead.category.name }}</span></a>

<!-- //////// -->
{% else %}
<!-- //////// -->

<div class="animate-bounce">

    <a href="{% url 'leads:category_list' %}"> <span
            class="bg-red-600 hover:bg-green-300 hover:text-black  p-1 px-2 rounded-md text-white font-bold animate-bounce">Unassigned</span></a>
</div>


<!-- //////// -->
{% endif %}
<!-- //////// -->