{% extends 'leads/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Leads {% endblock %}

{% block content %}

<div class="bg-lime-600 h-4/5 w-full">

    {% if request.user.is_organizor %}
    <a href="{% url 'leads:lead_create' %}">Create a new lead</a>

    <a href="{% url 'leads:category_list' %}">View Categories</a>


    {% if lead_list %}
    <h1>Assigned leads</h1>
    {% endif %}
    {% endif %}
    <div class="flex flex-wrap gap-4 justify-center items-center">
        {% if lead_list %}
        {% for lead in lead_list %}
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
            </div>
            <span>{{ lead.first_name }} {{ lead.last_name }}</span>
            <p class="job"> Agent: {{lead.agent }} </p>

            <a href="  {% url 'leads:lead_detail' lead.pk %} "><button> Details
                </button></a>

        </div>
        {% endfor %}

        {% else %}

        {% if request.user.is_organizor %}
        <p> No leads available <a href="{% url 'leads:lead_create' %}">Create a new lead</a></p>
        {% else %}
        <p>No leads available contact your admin. </p>
        {% endif %}
        {% endif %}


    </div>
    {% if request.user.is_organizor %}
    {% if lead_list %}
    <h1>Unassigned leads</h1>
    {% endif %}
    {% endif %}
    <div class="flex flex-wrap gap-4 justify-center items-center">
        {% if unassigned_leads.exists %}

        {% for lead in unassigned_leads %}
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
            </div>
            <span>{{ lead.first_name }} {{ lead.last_name }}</span>
            <p class="job"> Agent: {{lead.agent }} </p>

            <a href="  {% url 'leads:assign_agent' lead.pk %} "><button> Assign an Agent
                </button></a>

        </div>
        {% endfor %}

        {% endif %}
    </div>
</div>
{% endblock %}