{% extends 'leads/base.html' %}

{% load tailwind_filters %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Lead update {% endblock %}

{% block content %}
<!-- <div class="bg-cover bg-no-repeat bg-center p-16 flex flex-col items-center justify-center"
    style="background-image: url('{% static bg_image %}')"> -->

<div class="flex flex-col items-center justify-center md:p-16 w-full max-h-full">
    <a class="text-blue-600 underline" href="{% url 'leads:lead_list' %}">Go back to leads</a>

    <h1 class="mt-4">{{ lead }} update</h1>


    <div class="flex flex-col items-center justify-center max-h-full dark w-full">
        <div class="w-full max-w-md bg-formColor rounded-lg p-6 shadow-[inset_-12px_-8px_40px_#46464620]">
            <h2 class="text-2xl font-bold mb-4 text-center">Lead Update</h2>
            <form class="flex flex-col gap-3" method="post">
                {% csrf_token %}

                {{ form|crispy }}

                <button class="text-xl font-bold" type="submit">Update</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}