{% extends 'leads/base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Lead update {% endblock %}

{% block content %}


<div class="flex flex-col items-center justify-center md:p-16 w-full max-h-full">
    <a href="{% url 'leads:lead_list' %}">Go back to leads</a>



    <h1>{{ lead }} category update</h1>


    <div class="flex flex-col items-center justify-center max-h-full dark w-full">
        <div class="w-full max-w-md bg-formColor rounded-lg p-6 shadow-[inset_-12px_-8px_40px_#46464620]">
            <h2 class="md:text-2xl font-bold mb-4 text-center">Lead Category Update</h2>
            <form class="flex flex-col gap-3" method="post">
                {% csrf_token %}

                {{ form|crispy }}

                <button class="text-xl font-bold " type="submit">Update</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}