{% extends 'leads/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Delete Agent {% endblock %}

{% block content %}
<!-- <div class="bg-cover bg-no-repeat bg-center p-16 flex flex-col items-center justify-center"
    style="background-image: url('{% static bg_image %}')"> -->

<div class="text-center">


    <h1 class="text-4xl text-red-600"> ARE YOU SURE YOU WANT TO DELETE THIS AGENT?</h1>
    {{ agent.user.username }}

    <div class="flex gap-4 justify-center items-center">

        <div>
            <form method="post">
                {% csrf_token %}

                <button class="text-xl font-bold " type="submit">Delete</button>
            </form>
        </div>
        <div>
            <a class="text-xl font-bold " href="{% url 'agents:agents_list' %}">Go back to Agent list</a>
        </div>

    </div>
</div>
{% endblock %}