{% extends 'leads/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Agents {% endblock %}

{% block content %}

<div class="bg-lime-600 h-4/5 w-full">


    <a href="{% url 'agents:create_agent' %}">Create a new Agent</a>

    <div class="flex flex-wrap gap-4 justify-center items-center">
        {% for agent in agents %}
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
            </div>
            <span>{{ agent.user.first_name }} {{ agent.user.last_name }}</span>
            <p class="job"> Username: {{agent.user.username }} </p>

            <a href="{% url 'agents:agent_details' agent.pk %}"><button> Details
                </button></a>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}