{% extends 'leads/base.html' %}


{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/leadCard.css' %}">

{% endblock %}


{% block title %}Agents {% endblock %}

{% block content %}
<div class="flex flex-col gap-4 justify-center items-center w-full self-start ">


    <div class="w-full text-center">
        <h1 class="text-4xl font-header">Agents</h1>
    </div>

    {% if agents %}
    <div class="flex justify-around items-center p-4 mb-3 flex-wrap gap-4 bg-slate-300 w-full bg-opacity-60">
        <a href="{% url 'agents:create_agent' %}">Create a new Agent</a>
    </div>


    <div class="block w-full overflow-x-auto shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] rounded-xl">

        <table class="items-center min-w-full border border-gray-300 ">
            <thead>
                <tr>
                    <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        FIRST NAME
                    </th>
                    <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        LAST NAME
                    </th>
                    <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        USERNAME
                    </th>
                    <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        DETAILS
                    </th>
                </tr>
            </thead>

            {% for agent in agents %}
            <tbody>
                <tr class=" bg-opacity-50 {% cycle 'bg-slate-300' 'bg-white' %}">
                    <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                        {{ agent.user.first_name }}
                    </th>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                        {{ agent.user.last_name }}
                    </td>
                    <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        {{agent.user.username}}
                    </td>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <a href="{% url 'agents:agent_details' agent.pk %}"
                            class="hover:underline text-blue-600 font-bold "><button> View Details
                            </button></a>
                    </td>

                </tr>

            </tbody>
            {% endfor %}
        </table>
    </div>

    {% else %}
    <div class=" flex justify-center items-center text-center w-full md:min-h-[400px] h-full">
        <p>No agents available <a href="{% url 'agents:create_agent' %}" class="underline text-blue-600">Create a new
                Agent</a></p>
    </div>

    {% endif %}
</div>
{% endblock %}