<header class="text-gray-700 body-font">
    <nav class="bg-gray-100">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">

                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                            </svg>
                            <span class="font-bold">Better Dev</span>
                        </a>
                    </div>
                    {% if request.user.is_authenticated %}
                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="{% url 'leads:lead_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Lead
                            list</a>
                        {% if request.user.is_organizor %}
                        <a href="{% url 'agents:agents_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">agent
                            list</a>
                        {% endif %}
                        <a href="{% url 'leads:lead_create' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Create
                            Lead</a>
                    </div>

                </div>

                <div class="hidden md:flex items-center space-x-1">
                    Logged as {{ request.user.username }}
                    <a href="{% url 'logout'%}" class="block py-2 px-4 text-sm hover:bg-gray-200">Logout</a>

                </div>
                {% else %}
                <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">

                    <a href="{% url 'signup'%}"
                        class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">SignUp</a>
                </div>

                <div class="hidden md:flex items-center space-x-1">

                    <a href="{% url 'login' %}"
                        class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Login</a>
                </div>
                {% endif %}
                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden bg-lime-700">
            <div class="flex justify-center items-center flex-col">


                <div>

                    <a href="{% url 'leads:lead_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Leads</a>
                    <a href="{% url 'leads:lead_create' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Create
                        Lead</a>
                    <a href="{% url 'leads:lead_list' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Lead</a>
                </div>

                <div class="flex items-center space-x-1">

                    <a href="{% url 'login' %}"
                        class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Login</a>
                </div>
            </div>

        </div>
    </nav>

</header>