<header class="text-gray-700 body-font">
    <nav
        class=" fixed top-0 left-0 right-0 border-b-2 bg-SECONDARY1 bg-opacity-70 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] px-2 z-50">
        <div class="max-w-6xl mx-auto ">
            <div class="flex justify-between">

                <div class="flex space-x-4">
                    <!-- logo -->
                    <div>
                        <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                            </svg>
                            <span class="font-bold">CRM</span>
                        </a>
                    </div>

                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'leads:lead_list' %}"
                            class="block w-full py-2 px-4 text-sm hover:bg-gray-200">Leads</a>
                        {% if request.user.is_organizor %}
                        <a href="{% url 'agents:agents_list' %}"
                            class="block w-full py-2 px-4 text-sm hover:bg-gray-200">Agents</a>

                        <a href="{% url 'leads:category_list' %}"
                            class="block w-full py-2 px-4 text-sm hover:bg-gray-200">
                            Categories
                        </a>


                        {% endif %}
                        {% endif %}

                    </div>

                </div>

                {% if request.user.is_authenticated %}

                <div class="hidden md:flex items-center space-x-1 gap-4">
                    {% if request.user.is_organizor %}
                    Logged as {{ request.user.username }} organization !
                    {% else %}
                    Hi Agent {{ request.user.username }} !
                    {% endif %}

                    <div
                        class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">
                        <form method="post" action="{% url 'logged_out' %}">
                            {% csrf_token %}

                            <button class=" font-bold" type="submit">Logout</button>
                        </form>
                    </div>

                </div>
                {% else %}
                <!-- secondary nav -->

                <div class="flex gap-4">
                    <div class="hidden md:flex items-center space-x-1">

                        <a href="{% url 'signup'%}"
                            class="py-2 px-3 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">SignUp</a>
                    </div>

                    <div class="hidden md:flex items-center space-x-1">

                        <a href="{% url 'login' %}"
                            class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Login</a>
                    </div>
                </div>

                {% endif %}
                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden bg-animated-bg ">
            <div class="flex justify-center items-center flex-col p-4 text-center gap-2">
                {% if request.user.is_authenticated %}

                <div class="w-full flex flex-col justify-center items-center gap-2">
                    <a href="{% url 'leads:lead_list' %}" class="block w-full  text-sm ">
                        <div
                            class="flex   bg-slate-300 p-3 cursor-pointer rounded-xl justify-start items-center hover:text-SECONDARY1 hover:bg-slate-500 font-bold">
                            Leads

                        </div>
                    </a>
                    {% if request.user.is_organizor %}
                    <a href="{% url 'leads:category_list' %}" class="block w-full  text-sm ">
                        <div
                            class="flex   bg-slate-300 p-3 cursor-pointer rounded-xl justify-start items-center hover:text-SECONDARY1 hover:bg-slate-500 font-bold">
                            Categories

                        </div>
                    </a>


                    <a href="{% url 'agents:agents_list' %}" class="block w-full  text-sm ">
                        <div
                            class="flex   bg-slate-300 p-3 cursor-pointer rounded-xl justify-start items-center hover:text-SECONDARY1 hover:bg-slate-500 font-bold">
                            Agents

                        </div>
                    </a>
                    {% endif %}
                </div>

                <div class=" md:flex  space-x-1 w-full flex flex-col justify-center items-center gap-2">

                    <div class="flex p-3 w-full  bg-slate-300 rounded-xl justify-start items-center font-bold">

                        Hi {{ request.user.username }} !
                    </div>

                    <div
                        class="flex w-full  bg-slate-300 p-3 cursor-pointer rounded-xl justify-start items-center hover:text-SECONDARY1 hover:bg-slate-500">

                        <form method="post" action="{% url 'logged_out' %}">
                            {% csrf_token %}

                            <button class=" font-bold" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="flex gap-4 w-full bg-slate-300 p-3 cursor-pointer rounded-xl justify-center items-center">
                    <div class="md:flex items-center space-x-1">

                        <a href="{% url 'signup'%}"
                            class="py-2 px-3  text-yellow-900 hover:text-yellow-800 rounded transition duration-300 font-bold">SignUp</a>
                    </div>

                    <div class="md:flex items-center space-x-1">

                        <a href="{% url 'login' %}"
                            class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300 font-bold">Login</a>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
    </nav>
</header>